li,
h1 {
  /* letter-spacing: 2px;
  color: black;
  width: 500px; */
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
  color: #00539f;
  font-size: 30px;
  /* text-shadow: 13px -11px 3px #00539f; */
  margin: 0 auto;
}
img[src] {
  border: 2px solid black;
  padding: 10px; /* 内边距  */
  background-color: green; /* 绿色内边距 */
  display: block;
  margin: 0 auto;
}

html {
  font-size: 10px;
  font-family: "DotGothic16", sans-serif;
  background-color: rgb(43, 159, 226);
}
body {
  width: 400px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
p {
  text-align: center;
}
